<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zc.mapper.GoodsMapper">

    <resultMap type="com.zc.domian.Goods" id="goodsResultMap">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="cid" property="cid" jdbcType="INTEGER" />
        <result column="bid" property="bid" jdbcType="INTEGER" />
        <result column="mname" property="mname" jdbcType="VARCHAR"/>
        <result column="number" property="number" jdbcType="BIGINT" />
        <result column="wprice" property="wprice" jdbcType="DECIMAL" />
        <result column="sprice" property="sprice" jdbcType="DECIMAL" />
        <result column="etime" property="etime" jdbcType="TIMESTAMP"/>
        <result column="wtime" property="wtime" jdbcType="TIMESTAMP"/>
        <association property="sort" javaType="com.zc.domian.Sort">
            <id column="c_id" property="id" jdbcType="INTEGER" />
            <result column="c_name" property="cname" jdbcType="VARCHAR" />
        </association>
        <association property="brand" javaType="com.zc.domian.Brand">
            <id column="b_id" property="id" jdbcType="INTEGER" />
            <result column="b_name" property="pinpai" jdbcType="VARCHAR" />
        </association>
        <association property="goodsimg" javaType="com.zc.domian.Files">
        </association>
    </resultMap>
    <insert id="addone" parameterType="com.zc.domian.Goods" useGeneratedKeys="true" keyProperty="id">
        INSERT  INTO sys_goods(cid,bid,mname,number)VALUES (#{cid},#{bid},#{mname},#{number})
    </insert>
    <update id="updateBymname" parameterType="com.zc.domian.Goods">
        UPDATE sys_goods
        <set>
            <if test="cid != null">cid=#{cid},</if>
            <if test="bid != null">bid=#{bid},</if>
            <if test="mname != null">mname=#{mname},</if>
<!--            <if test="wprice != null">wprice=#{wprice},</if>-->
<!--            <if test="sprice!= null">sprice=#{sprice}</if>-->
        </set>
        WHERE mname=#{mname}
    </update>
    <update id="updateByGid" parameterType="com.zc.domian.Goods">
        UPDATE sys_goods
        <set>
            <if test="cid != null">cid=#{cid},</if>
            <if test="bid != null">bid=#{bid},</if>
            <if test="mname != null">mname=#{mname},</if>
            <!--            <if test="wprice != null">wprice=#{wprice},</if>-->
            <!--            <if test="sprice!= null">sprice=#{sprice}</if>-->
        </set>
        WHERE id=#{id}
    </update>

    <update id="updateNumberByName" parameterType="com.zc.domian.Goods">
        UPDATE sys_goods
         <set>
             <if test="number != null">number =#{number},</if>
             <if test="wprice != null "> wprice=#{wprice},</if>
             <if test="etime != null" > etime=#{etime},</if>
         </set>
         WHERE id=#{id}
    </update>

    <update id="updateWtimeNumberByName" parameterType="com.zc.domian.Goods">
        UPDATE sys_goods
        <set>
            <if test="number != null">number =#{number},</if>
            <if test="sprice != null "> sprice=#{sprice},</if>
            <if test="wtime != null" > wtime=#{wtime}</if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="deleteByMname" parameterType="string">
        delete from sys_goods where mname=#{mname}
    </delete>

    <select id="selectByMname" resultMap="goodsResultMap">
      select g.id,g.cid,g.bid,g.mname,g.number,g.wprice,g.sprice,g.etime,g.wtime,c.id c_id,c.cname c_name,b.id b_id,b.pinpai b_name from sys_goods g,sys_sort c,sys_brand b where g.cid=c.id and g.bid=b.id and g.mname=#{mname}
    </select>
    <select id="selectList" resultMap="goodsResultMap">
        select g.id,g.cid,g.bid,g.mname,g.number,g.wprice,g.sprice,g.etime,g.wtime,c.id c_id,c.cname c_name,b.id b_id,b.pinpai b_name from sys_goods g,sys_sort c,sys_brand b where g.cid=c.id and g.bid=b.id
    </select>
    <select id="selectimgByid" resultMap="goodsResultMap">
     select * from sys_goodsimg ur,sys_goods r where ur.goodsid=r.id and ur.goodsid=#{id}
    </select>
    <select id="findOneById" resultMap="goodsResultMap">
          select g.id,g.cid,g.bid,g.mname,g.number,g.wprice,g.sprice,g.etime,g.wtime,c.id c_id,c.cname c_name,b.id b_id,b.pinpai b_name from sys_goods g,sys_sort c,sys_brand b where g.cid=c.id and g.bid=b.id and g.id=#{id}
    </select>
</mapper>