<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zc.mapper.OrderMapper">

    <resultMap type="com.zc.domian.Order" id="OrderResultMap">
        <id column="order_id" property="orderId" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="price" property="price" jdbcType="DECIMAL" />
        <result column="userid" property="userid" jdbcType="VARCHAR"/>
        <association property="orderItems" javaType="com.zc.domian.OrderItem">
        </association>
    </resultMap>
    <select id="selectAll" resultMap="OrderResultMap">
      select * from sys_order
    </select>
    <select id="selectByOrderId" resultMap="OrderResultMap">
        select * from  sys_order where order_id=#{orderid}
    </select>
    <select id="selectBystr" resultMap="OrderResultMap">
        select * from sys_order,sys_order_item
        <where>
            <if test="str!=null">
             sys_order_item.name like "%"#{str}"%"
            </if>
        </where>
    and sys_order.order_id=sys_order_item.order_id
    and sys_order.userid=#{userid}
    </select>

    <select id="selectToday" resultType="integer">
select sum(sys_order_item.count) today from sys_order,sys_order_item where date(create_time)=date(now())
 AND sys_order.order_id=sys_order_item.order_id
 and userid=#{userid}
    </select>

    <select id="selectToMonth" resultType="integer">
       select sum(sys_order_item.count) month from sys_order,sys_order_item where month(create_time) =
  month(curdate()) and year(create_time) = year(curdate())
   AND sys_order.order_id=sys_order_item.order_id
 and userid=#{userid}
    </select>

    <select id="selectToWeek" resultType="integer">
        select sum(sys_order_item.count) week from sys_order,sys_order_item where month(create_time) =
month(curdate()) and week(create_time) = week(curdate())
 AND sys_order.order_id=sys_order_item.order_id
 and userid=#{userid}
    </select>

    <select id="selectToYear" resultType="integer">
    SELECT sum(sys_order_item.count) year FROM sys_order,sys_order_item WHERE year(create_time) = year( curdate( ))
    AND sys_order.order_id=sys_order_item.order_id
    and userid=#{userid}
    </select>


    <select id="selectTodayPrice" resultType="integer">
       select SUM(sys_order.price) from sys_order,sys_order_item where date(create_time)=date(now())
        AND sys_order.order_id=sys_order_item.order_id
         and userid=#{userid}
    </select>

    <select id="selecttongjitoday" resultType="com.zc.domian.Tongji">
        SELECT
        DATE_FORMAT( octime, '%Y-%m-%d' ) days,
	    SUM(op) total,
	    SUM(oic) count
        FROM
        ( SELECT o.create_time octime,o.price op,oi.count oic FROM sys_order o,sys_order_item oi
        WHERE DATE_SUB( CURDATE(), INTERVAL 7 DAY ) &lt;= date(create_time) and userid=#{userid} ) as sys_order
        GROUP BY
        days
    </select>


    <select id="selecttongjitomonth" resultType="com.zc.domian.Tongji">
        SELECT DATE_FORMAT(t.create_time,'%Y-%m') days,sum(t.price) total,SUM(ti.count) count FROM sys_order t,sys_order_item ti GROUP BY days;
    </select>

    <select id="selecttongjiyear" resultType="com.zc.domian.Tongji">
    SELECT DATE_FORMAT(t.create_time,'%Y') days,sum(t.price) total,SUM(ti.count) count  FROM sys_order t,sys_order_item ti GROUP BY days;
    </select>
    <select id="selectByOrderByUserId" resultMap="OrderResultMap">
        select * from  sys_order where userid=#{userid}
    </select>
</mapper>