<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zc.mapper.OrderItemMapper">

    <resultMap type="com.zc.domian.OrderItem" id="OrderItemResultMap">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="sort" property="sort" jdbcType="VARCHAR" />
        <result column="count" property="count" jdbcType="INTEGER"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="total_price" property="totalPrice" jdbcType="DECIMAL"/>
        <result column="order_id" property="orderId" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectByOrderId" resultMap="OrderItemResultMap">
      select * from sys_order_item where order_id = #{orderid}
    </select>

</mapper>