<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zc.mapper.RukuOrderMapper">

    <select id="selectToday" resultType="integer">
        select COUNT(*) from sys_ruku_order
        where date(create_time)=date(now()) and userid=#{userid}
    </select>

    <select id="selecttongjitoday" resultType="com.zc.domian.Tongji">
        SELECT
       DATE_FORMAT( create_time, '%Y-%m-%d' ) days,
       sum(total_price) total,
       sum(count) count
        FROM
        ( SELECT * FROM sys_ruku_order
        WHERE DATE_SUB( CURDATE(), INTERVAL 7 DAY ) &lt;= date(create_time) and userid=#{userid} ) as sys_ruku_order
        GROUP BY
        days;
    </select>

    <select id="selecttongjitomonth" resultType="com.zc.domian.Tongji">
        SELECT DATE_FORMAT(t.create_time,'%Y-%m') days,sum(t.total_price) total,sum(count) count FROM sys_ruku_order t where userid=#{useird} GROUP BY days
    </select>

    <select id="selecttongjiyear" resultType="com.zc.domian.Tongji">
    SELECT DATE_FORMAT(t.create_time,'%Y') days,sum(t.total_price) total,sum(count) count FROM sys_ruku_order t where userid=#{useird} GROUP BY days
    </select>

</mapper>